@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #121212;
  color: #ffffff;
}

.mat-card {
  background-color: #1e1e1e;
}

.mat-form-field {
  .mat-form-field-label {
    color: #b3b3b3;
  }

  .mat-form-field-underline {
    background-color: #b3b3b3;
  }

  .mat-input-element {
    color: #ffffff;
  }
}

.mat-raised-button.mat-primary {
  background-color: #bb86fc;
  color: #000000;
}
