<div class="user-history-container">
  <h2>User Typing History</h2>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="filteredData"
      matSort
      (matSortChange)="onSortChange($event)"
    >
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date : "medium" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="speed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Speed (WPM)</th>
        <td mat-cell *matCellDef="let element">{{ element.speed }}</td>
      </ng-container>
      <ng-container matColumnDef="accuracy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Accuracy</th>
        <td mat-cell *matCellDef="let element">{{ element.accuracy }}%</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  ></mat-paginator>
  <div class="button-container">
    <button mat-raised-button color="warn" (click)="deleteAllHistoryEntries()">
      Reset History
    </button>
  </div>
</div>
