body {
  background-color: #1c1c1c;
  color: #f0f0f0;
}

nav {
  background-color: #1c1c1c;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #f0f0f0;
  text-decoration: none;
}

.logo img {
  height: 40px;
  width: auto;
  margin-right: auto;
}
