<mat-toolbar color="primary">
  <span>Typing Simulator</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/login"><mat-icon>login</mat-icon></button>
  <button mat-button routerLink="/user-history">
    <mat-icon>history</mat-icon>
  </button>
  <button mat-button routerLink="/main-application">
    <mat-icon>sports_esports</mat-icon>
  </button>
  <button mat-button routerLink="/leaderboard">
    <mat-icon>leaderboard</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
