<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Typing Simulator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Select Mode</mat-label>
        <mat-select
          [(ngModel)]="selectedMode"
          (selectionChange)="onModeChange()"
        >
<!--           <mat-option value="default">Default</mat-option>
          <mat-option value="time">Time Challenge</mat-option> -->
          <mat-option value="random">Easy</mat-option>
          <mat-option value="words">Hard</mat-option>
<!--           <mat-option value="punctuation"
            >Punctuation and Special Characters</mat-option
          > -->
        </mat-select>
      </mat-form-field>
      <div
        class="typing-text"
        [ngClass]="{ correct: isCorrect, incorrect: !isCorrect }"
      >
        <p>{{ currentText }}</p>
      </div>
      <mat-form-field>
        <input matInput [(ngModel)]="typedText" (input)="onType()" />
      </mat-form-field>
      <mat-progress-bar [value]="progress"></mat-progress-bar>
      <div class="stats">
        <p>Time: {{ elapsedTime }} seconds</p>
        <p>Accuracy: {{ accuracy }}%</p>
        <p>Words per Minute (WPM): {{ wpm }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="startTyping()"
        [disabled]="isTyping"
      >
        Start
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="resetTyping()"
        [disabled]="!isTyping"
      >
        Reset
      </button>
    </mat-card-actions>
  </mat-card>
</div>
